.App {
  text-align: center;
}

.app-home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.app-nav {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  justify-content: space-evenly;
}

.nav-item {
  width: 90%;
  font-size: 5vmin;
  padding: 8vmin;
}

.nav-item:hover {
  background-color: grey;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.social-icon-header {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 10vmin;
}

.Profile-pic {
  display: block;
  position: absolute;
  width: calc(30px + 20vmin);
  height: calc(30px + 20vmin);
  top: 15%;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa {
  padding: 0.5vmin;
  font-size: calc(10px + 6vmin);
  width: calc(10px + 6vmin);
  text-align: center;
  text-decoration: none;
}

.body-text {
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 0 #0b8be7 inset;
  text-align: center;
  position: relative;
}

.burger {
  width: calc(35px + 1vmin);
  height: calc(4px + 0.45vmin);
  background-color: white;
  margin: 6px 0;
  border-radius: 35%;
}

.burger-menu {
  position: absolute;
  right: 2vmin;
  top: 1vmin;
}

.burger-menu:hover {
  background-color: grey;
  cursor: pointer;
}

.close-icon {
  position: relative;
}

.close {
  position: absolute;
  right: 2vmin;
  top: 1vmin;
  height: 40px;
  width: 40px;
}

.close:hover {
  background-color: grey;
  cursor: pointer;
}
.close-icon:after {
  content: "";
  height: calc(10px + 6vmin);
  border-left: calc(1px + 0.8vmin) solid #fff;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 30%;
}

.close-icon:before {
  content: "";
  height: calc(10px + 6vmin);
  border-left: calc(1px + 0.8vmin) solid #fff;
  position: absolute;
  transform: rotate(-45deg);
  border-radius: 30%;
}

.container {
  border-radius: 5px;
  color: white;
  padding-left: 25vmin;
  padding-right: 25vmin;
}
